<header>
  <div class="header-container">
    <a href="/">
      <img class="logo-img" src="/logo.png" alt="Logo">
    </a>
    <a href="/">Favorite Books</a>
    <a href="/searches">Search</a>
    <a href="/users/login" class="custom-login">Log in</a>
  </div>
</header>